.dash-board {
  display: flex;

}

.right-sec {
  width: 230px;
  background-color: #15141c;
  color: white;
  text-align: center;
}
.right-sec-mobile {
  width: 220px;
  height: 100vh;
  background-color: #15141c;
  color: white;
  text-align: center;
}

.left-btns {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
p {
  font-size: 10px;
}
.margin-left {
  margin-bottom: 8px;
  margin-top: 8px;
}
.card {
  width: 290px;
  height: 125px;
  background-color: rgba(229, 227, 225, 0.2);
  border-radius: 12px;
  color: white;
  padding-left: 10px;
}

.left-sec {
  width: 100%;
  padding-top: 10px;
  background: radial-gradient(
    ellipse at 30% 40%,
    #221b25,
    #3c3433,
    #2d4e79 60%
  );
  color: white;
}
.left-sec-flex {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 50px;
  margin-bottom: 15px;
}
.responsive-icons {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
.card-arrange {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}
.icon-header {
  padding: 8px;
  background-color: black;
  border-radius: 50%;
}

/* responsive query */
@media (min-width: 750px) {
  .menuicon{
    display: none;
  }
}
@media (max-width: 750px) {
  .right-sec {
    display: none;
  }
  .left-sec-flex {
    padding-right: 0px;
  }
  .responsive-icons {
    margin: 25px;
    gap: 7px;
    font-size: 10px;

  }
}


@media (max-width: 460px) {
  .responsive-icons {
    margin: 25px;
    gap: 5px;
    font-size: 8px;
  }
}

@media (max-width: 452px) {
  .responsive-icons {
    display: none;
  }
}

@media (max-width: 452px) {
  .responsive-icons {
    display: none;
  }
}
