.normalbtn{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0%;
    padding: 0%;
}